<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CODRINK-19 — Drinking Room</title>

        <!-- Begin favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- End favicon -->

        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body class="room">
        <header class="header-wrap">
            <h1>Waiting Room</h1>
        </header>  

        <div class="waiting-list-wrap">
            <div class="inner">
                <form class="formPlayer" action="">
                    <label for="playerName">Your name</label>
                    <input id="playerName" autocomplete="off" />
                    <button>Submit</button>
                </form>
                <h2>Waiting list: <span>0 players joined</span></h2>
                <ul id="waitingList">
                </ul>
                <button class="begin">Click when ready</button>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/scripts/custom.min.js"></script>
    </body>
</html>