.view.game {
    .main-message-wrap {
        .main {
            font-size: 2.75rem;
            padding: .4em .5em .5em;
        }
    }

    .minigame-wrap {
        .title {
            font-size: 4rem;
        }

        .description {
            display: none;
            width: 640px;
            max-width: 100%;
            margin: auto;
        }
    }

    .info-button-wrap {
        text-align: center;
        margin-top: 60px;

        .info {
            display: none;
            width: 640px;
            max-width: 100%;
            margin: auto;
            background: yellow;
            padding: 18px 24px;
            font-size: 1.25rem;
        }

        button {
            display: none;
        }
    }

    .player-list-wrap {
        position: fixed;
        bottom: 18px;
        left: 18px;

        .heading {
            font-weight: 700;
        }
    }
    
    .player-list {
        display: inline-block;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            padding: 6px;

            &:after {
                content: ',';
            }

            &:last-child {
                &:after {
                    content: '';
                }
            }

            &.active {
                background: yellow;
            }
        }
    }    
    
    &.current-player {
        .main-message-wrap {
            .main {
                background: yellow;
            }
        }
    }
}