.view.game {
    .main-message-wrap {
        .main {
            font-size: 2.75rem;
            padding: .4em 16px .5em;
        }
    }

    .minigame-wrap {
        padding: 0 16px;

        .title {
            font-size: 4rem;
        }

        .description {
            display: none;
            width: 640px;
            max-width: 100%;
            margin: auto;
        }

        @media screen and (max-width:639px) {
            .title {
                font-size: 3rem;
            }
        }
    }

    .info-button-wrap {
        text-align: center;
        margin-top: 60px;

        .info {
            display: none;
            width: 640px;
            max-width: 100%;
            margin: auto;
            background: yellow;
            padding: 18px 24px;
            font-size: 1.25rem;
        }

        button {
            display: none;
        }
    }

    .player-list-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 6px;
        width: 100%;
        overflow-x: auto;
    }
    
    .player-list {
        display: inline-block;
        padding: 0;
        margin: 0;
        font-size: .75rem;
        white-space: nowrap;

        li {
            display: inline-block;
            padding: 6px;

            &:after {
                content: ',';
            }

            &:last-child {
                &:after {
                    content: '';
                }
            }

            &.active {
                background: yellow;
            }
        }
    }    
    
    &.current-player {
        .main-message-wrap {
            .main {
                background: yellow;
            }
        }
    }
}