.view.game {
    .up-next-wrap {
        position: fixed;
        right: 18px;
        top: 12px;
        font-weight: 700;
        font-size: 1.25rem;
    }

    .main-message-wrap {
    }

    .minigame-wrap {
        .title {
            font-size: 5rem;
        }

        .description {
            display: none;
            width: 640px;
            max-width: 100%;
            margin: auto;
        }
    }

    .info-button-wrap {
        text-align: center;
        margin-top: 60px;

        .info {
            display: none;
            width: 640px;
            max-width: 100%;
            margin: auto;
            background: yellow;
            padding: 18px 24px;
            font-size: 1.25rem;
        }

        button {
            display: none;
        }
    }  
    
    &.current-player {
        .minigame-wrap {
            cursor: pointer;
        }
    }
}