.view.home {
    .header-wrap {
        padding: 0 18px;
    
        h1 {
            margin-bottom: 0;
        }

        h2 {
            text-align: center;
        }
    }
    
    .logo-wrap {
        .inner {
            width: 260px;
            max-width: 66%;
            margin: 24px auto 0;
        }
    }

    .button-start {
        display: none;
        margin: 24px auto 0;
    }

    .connecting-message {
        p {
            display: none;
            text-align: center;
        }

        .ellipses {
            animation: blink 1s linear infinite;
        }
    }
}