.view.home {
    .announcements {
        display: none;
        font-size: 2.75rem;
        background: yellow;
        padding: .4em .5em .5em;
        margin-bottom: 0;
    }

    .header-wrap {
        padding: 0 16px;
    
        h1 {
            margin-bottom: 0;
            padding-top: .75em;
        }

        h2 {
            text-align: center;
        }
    }
    
    .logo-wrap {
        .inner {
            width: 260px;
            max-width: 60%;
            margin: 24px auto 0;
        }
    }

    button {
        display: none;
        margin: 24px auto 0;
    }

    .connecting-message {
        .message {
            display: none;
            text-align: center;
        }

        .ellipses {
            animation: blink 1s linear infinite;
        }
    }
}