// When js adds class to show element
.show-block {
    display: block !important;
}

.show-inline-block {
    display: inline-block !important;
}

.show-flex {
    display: flex !important;
}


.hide-me {
    display: none !important;
}