body.waiting-room {
    .header-wrap {
        padding: 0 18px;
    }
}

.nickname-form-wrap, .waiting-list-wrap {
    .inner {
        width: 640px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 18px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }

    button {
        margin-left: 24px;
    }

    h2 {
        margin: 1em 0;
    }

    @media screen and (max-width: 639px) {
        button {
            margin: 24px 0 0;
            width: 100%;
        }        
    }
}

.nickname-form-wrap {
    &.hide {
        display: none;
    }

    .form-feedback {
        margin-top: 24px;
    }
}

.waiting-list-wrap {
    display: none;

    &.show {
        display: block;
    }

    .begin {
        display: none;
        margin: 24px auto;

        &.show {
            display: block;
        }
    }

    .share-wrap {
        &.hide {
            display: none;
        }
    }

    .share-link {
        width: 100%;
        border: none;
    }
}