@import "global/variables";
@import "global/elements";
@import "global/animations";
@import "global/helpers";
@import "global/views";

@import "views/home";
@import "views/waiting-room";
@import "views/game";
@import "views/loading";

.test-content {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    z-index: 100;
}